.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header-nav a:hover {
    text-decoration: underline;
}

.header-button {
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.header-button:hover {
    background-color: #e64a19;
}

.header-nav a:last-child, .header-button {
    margin-right: 0;
}

/* Ensuring the Home and Admin content is on the right side */
[ngSwitch] {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 80vh;
}
.header-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  
  .header-nav a:hover {
    color: #007bff; /* Change color on hover */
  }